<ul role="list" class="divide-y divide-gray-100">
  <li class="flex items-center justify-between gap-x-6 py-1">
    <div class="min-w-0">
      <div class="flex items-start gap-x-3">
        <p class="text-sm font-semibold leading-6 text-gray-900"><a href="<%= issue.url %>" target="_blank" class="hover:underline"><%= issue.title %></a></p>
        <% if issue.open? %>
          <p class="mt-0.5 whitespace-nowrap rounded-md bg-green-50 px-1.5 py-0.5 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">Open</p>
        <% elsif issue.closed? %>
          <p class="mt-0.5 whitespace-nowrap rounded-md bg-purple-50 px-1.5 py-0.5 text-xs font-medium text-purple-700 ring-1 ring-inset ring-purple-600/20">Closed</p>
        <% end %>
      </div>
      <div class="mt-1 flex items-center gap-x-2 text-xs leading-5 text-gray-500">
        <%= issue.repo %> #<%= issue.number %>
        <p class="whitespace-nowrap">
          Added <time datetime="<%= issue.issues_sprints.first.created_at.strftime('%Y-%m-%dT%H:%MZ') %>">
            <%= issue.issues_sprints.first.created_at.strftime("%B %d, %Y") %>
          </time>
        </p>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 4.5v15m6-15v15m-10.875 0h15.75c.621 0 1.125-.504 1.125-1.125V5.625c0-.621-.504-1.125-1.125-1.125H4.125C3.504 4.5 3 5.004 3 5.625v12.75c0 .621.504 1.125 1.125 1.125Z" />
        </svg>

        <p class="whitespace-nowrap">
          <%= issue.status %>
        </p>
      </div>
    </div>
    <div class="flex flex-none items-center gap-x-4">
      <% if issue.points.present? %>
        <span class="inline-flex items-center rounded-full bg-indigo-50 px-2 py-1 text-xs font-medium text-indigo-700 ring-1 ring-inset ring-indigo-700/10"><%= issue.points || '-' %></span>
      <% else %>
        <span class="text-gray-400 text-sm">Not estimated</span>
      <% end %>
    </div>
  </li>
</ul>
