<ul role="list" class="divide-y divide-gray-100">
  <li class="flex items-center justify-between gap-x-6 py-1">
    <div class="min-w-0">
      <div class="flex items-center gap-x-2">
        <% if issue.open? %>
          <div class="pt-0">
            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="size-4 text-green-700 dark:text-green-300" aria-label="issue-opened" role="img">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M3.515 3.515a12 12 0 1116.97 16.97 12 12 0 01-16.97-16.97zm1.59 1.59a9.75 9.75 0 1013.79 13.79 9.75 9.75 0 00-13.79-13.79zm8.486 8.486a2.25 2.25 0 11-3.182-3.183 2.25 2.25 0 013.182 3.183z" fill="currentColor" />
            </svg>
          </div>
        <% elsif issue.closed? %>
          <div class="pt-0">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 text-purple-700 dark:text-purple-300" role="img" aria-label="issue-closed">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
          </div>
        <% elsif issue.merged? %>
          <div class="pt-0">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16" class="size-5 text-purple-700 dark:text-purple-300" role="img" aria-label="issue-merged">
              <path d="M5.45 5.154A4.25 4.25 0 0 0 9.25 7.5h1.378a2.251 2.251 0 1 1 0 1.5H9.25A5.734 5.734 0 0 1 5 7.123v3.505a2.25 2.25 0 1 1-1.5 0V5.372a2.25 2.25 0 1 1 1.95-.218ZM4.25 13.5a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Zm8.5-4.5a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM5 3.25a.75.75 0 1 0 0 .005V3.25Z"></path>
            </svg>
          </div>
        <% end %>
        <p class="text-sm truncate font-semibold leading-6 text-gray-900 dark:text-gray-200"><a href="<%= issue.url %>" target="_blank" class="hover:underline"><%= issue.title %></a></p>
        <% if issue.unplanned?(sprint) && params[:show_unplanned] %>
          <% binding.pry if issue.number == 94625 %>
          <p class="mt-0.5 whitespace-nowrap rounded-md bg-yellow-50 px-1.5 py-0.5 text-xs font-medium text-yellow-700 ring-1 ring-inset ring-yellow-600/20 dark:bg-yellow-950 dark:text-yellow-200 dark:ring-yellow-200/20">Unplanned</p>
        <% end %>
      </div>
      <div class="mt-1 flex flex-col sm:flex-row items-start sm:items-center gap-x-2 gap-y-1 sm:gap-y-0 text-xs leading-5 text-gray-500 dark:text-gray-200">
        <span><%= issue.repo %> #<%= issue.number %></span>
        <% if issue.added_at_creation?(sprint) %>
          <div class="relative group">
            <button class="whitespace-nowrap underline decoration-dashed" tooltip-for="nextSibling">
              Created <time datetime="<%= issue.issues_sprints.find_by(sprint:).created_at.iso8601 %>">
                <%= time_ago_in_words(issue.issues_sprints.find_by(sprint:).created_at) %> ago</time>*
            </button>
            <div tooltip class="absolute w-screen md:w-auto z-[1000] group-hover:visible group-hover:opacity-100 invisible transition-opacity opacity-0">
              <div class="md:whitespace-nowrap absolute mx-auto bottom-6 min-w-min md:-left-1 w-4/5 px-3 py-2 text-sm font-medium text-white duration-300 bg-gray-900 rounded-lg shadow-sm dark:bg-gray-700">
                Issue was added to Sprint before the Project was imported. Issue creation date shown.
              </div>
            </div>
          </div>
        <% else %>
          <p class="whitespace-nowrap">
            Added <time datetime="<%= issue.issues_sprints.find_by(sprint:).created_at.strftime('%Y-%m-%dT%H:%MZ') %>">
              <%= time_ago_in_words(issue.issues_sprints.find_by(sprint:).created_at) %> ago
            </time>
          </p>
        <% end %>
        <div class="flex items-center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 4.5v15m6-15v15m-10.875 0h15.75c.621 0 1.125-.504 1.125-1.125V5.625c0-.621-.504-1.125-1.125-1.125H4.125C3.504 4.5 3 5.004 3 5.625v12.75c0 .621.504 1.125 1.125 1.125Z" />
          </svg>
          <p class="whitespace-nowrap ml-1">
          <%= issue.status %>
          </p>
        </div>
      </div>
    </div>
    <div class="flex flex-none items-center gap-x-4">
      <% if issue.assignees.present? %>
        <div class="isolate flex -space-x-1">
          <% issue.assignees.each_with_index do |assignee, index| %>
            <div class="relative inline-block group">
              <button class="whitespace-nowrap underline decoration-dashed" tooltip-for="nextSibling">
                <img class="relative z-[<%= (issue.assignees.count - index) * 10 %>] hover:z-[300] inline-block h-6 w-6 rounded-full ring-2 ring-white dark:ring-gray-900 transition duration-200 ease-in-out transform hover:scale-110" src="https://avatars.githubusercontent.com/<%= assignee %>" alt="<%= assignee %>">
              </button>
              <div tooltip class="absolute md:right-16 w-screen md:w-auto z-[1000] group-hover:visible group-hover:opacity-100 invisible transition-opacity opacity-0">
                <div class="md:whitespace-nowrap absolute mx-auto bottom-6 min-w-min md:-left-1 w-4/5 px-3 py-2 text-sm font-medium text-white duration-300 bg-gray-900 rounded-lg shadow-sm dark:bg-gray-700">
                  <%= assignee %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>

      <span class="inline-flex items-center rounded-full bg-lime-50 px-2 py-1 text-xs font-medium text-lime-700 ring-1 ring-inset ring-lime-700/10 dark:bg-lime-600 dark:text-lime-100 dark:ring-lime-600"><%= issue.points || '-' %></span>
    </div>
  </li>
</ul>
