<!doctype html>
<html class="h-full dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="favicon.png">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <title>
    <%= @title + ' - ' if @title %>Sprintosaurus
  </title>
</head>
<body class="h-full bg-gray-50 justify-center min-h-screen dark:bg-gray-950 dark:text-gray-100">
  <div class="min-h-full">
    <nav class="border-b border-gray-200 bg-white dark:bg-black dark:border-gray-700">
      <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="flex h-16 justify-between">
          <div class="flex">
            <div class="flex flex-shrink-0 items-center">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 256 256" stroke-width="8" stroke="currentColor" class="size-10 text-lime-600">
                <path stroke-linecap="round" stroke-linejoin="round" d="M 239.050598 203.721024 C 238.893051 203.2948 238.738342 202.909378 238.592041 202.591461 C 238.281158 201.912048 237.857758 201.418304 237.333084 201.122894 C 236.981415 200.923141 236.602997 200.820465 236.207718 200.820465 C 234.819321 200.820465 233.352158 202.083664 232.076324 203.767456 C 231.230896 203.681641 230.384094 203.564896 229.537247 203.435486 C 229.078674 201.371872 228.352844 199.461609 227.992722 198.675278 C 227.636841 197.895981 227.152954 197.330505 226.550888 196.988663 C 226.149979 196.760788 225.716736 196.646851 225.266586 196.646851 C 223.159363 196.646851 221.097168 199.105728 219.787552 201.063812 C 218.113602 200.513794 216.448105 199.890656 214.79245 199.215439 C 214.995026 197.528839 215.049896 195.947723 215.006271 194.860367 C 214.964081 193.840515 214.686981 192.996521 214.179138 192.352264 C 213.544739 191.546234 212.634613 191.135498 211.475494 191.135498 C 209.393646 191.135498 206.743454 192.463394 204.338013 194.154205 C 203.516525 193.697052 202.703461 193.225815 201.893234 192.748932 C 202.287109 190.20285 202.393997 187.703186 202.327881 186.08551 C 202.277237 184.840591 201.939636 183.812317 201.320694 183.026001 C 200.551254 182.046936 199.447006 181.551788 198.036118 181.551788 C 195.670074 181.551788 192.709 182.950027 189.936478 184.804031 C 188.152802 183.48877 186.416946 182.155243 184.741577 180.818909 C 185.734726 178.770782 186.484467 176.757828 186.882553 175.366638 C 187.227219 174.168121 187.228592 173.084991 186.891006 172.146744 C 186.212997 170.273041 184.382904 169.324936 181.45137 169.324936 C 179.050171 169.324936 176.069443 170.005768 173.298279 170.945435 C 172.202484 169.928406 171.131989 168.918396 170.092453 167.918259 C 171.485077 164.739166 172.352997 160.991791 172.632935 158.804398 C 172.790482 157.567932 172.628677 156.496033 172.15184 155.61969 C 171.392212 154.227081 169.985535 153.522308 167.965561 153.522308 C 165.337875 153.522308 161.911224 154.760193 158.82074 156.339905 C 158.353729 155.829285 157.900757 155.331299 157.464691 154.846008 C 157.148209 153.640488 156.716354 152.398376 156.143829 151.11409 C 157.523788 147.943436 158.386063 144.221359 158.664612 142.042419 C 158.822159 140.805954 158.660385 139.735474 158.183517 138.8591 C 157.425308 137.467926 156.017242 136.761749 153.997238 136.761749 C 151.91394 136.761749 149.327087 137.541046 146.803497 138.650909 C 145.824448 137.722534 144.765213 136.780029 143.628616 135.827713 C 144.656906 133.046722 145.308182 130.105347 145.543121 128.265411 C 145.700668 127.028931 145.538879 125.958466 145.060623 125.080719 C 144.303833 123.689484 142.894318 122.983337 140.877167 122.983337 C 137.775436 122.983337 133.56102 124.70372 130.100601 126.680099 C 129.063858 126.103348 128.018707 125.543488 126.970741 124.992065 C 128.257843 121.85379 129.04277 118.234406 129.287537 116.100479 C 129.429611 114.862595 129.255173 113.793503 128.765656 112.922791 C 128.003235 111.565353 126.62188 110.877457 124.66098 110.877457 C 120.563309 110.877457 114.430191 114.069229 110.753143 116.777069 C 110.138428 116.452148 109.527939 116.122971 108.918831 115.792404 C 110.770035 112.333374 111.879906 107.498627 112.17952 104.885025 C 112.321594 103.645737 112.14576 102.578079 111.656227 101.705933 C 110.895233 100.349899 109.515274 99.662033 107.551537 99.662033 C 103.622688 99.662033 97.821556 102.597778 94.107933 105.226837 C 93.194992 104.326569 92.355209 103.427704 91.585754 102.535873 C 94.610107 99.798477 97.353127 94.915894 98.453163 92.282593 C 98.932823 91.133331 99.062256 90.057236 98.834366 89.08522 C 98.291389 86.771225 95.883148 85.548828 91.868507 85.548828 C 89.247856 85.548828 86.255852 86.062271 83.614105 86.772644 C 83.557846 86.485672 83.504402 86.200119 83.459366 85.9216 C 87.459969 84.69075 93.780174 80.858963 94.622772 80.247055 C 95.632767 79.516998 96.303757 78.66597 96.617439 77.71785 C 97.032402 76.463089 96.786232 75.198486 95.888771 73.955002 C 94.825325 72.483612 92.923515 71.179611 90.734726 70.090836 C 91.80941 67.623535 92.297531 64.963501 92.182182 62.117798 C 93.351143 61.65921 94.424416 61.1064 95.192474 60.553574 C 96.493652 59.625153 97.413612 58.786789 98.087418 57.918854 C 98.85405 56.935577 99.262001 55.931229 99.298576 54.935287 C 99.336548 53.860596 98.951111 52.894196 98.150711 52.064255 C 95.976006 49.807938 91.322716 49.05397 88.025444 48.8078 C 87.341812 47.621979 86.509041 46.354568 85.520164 45.080109 C 86.551262 43.805649 87.382591 42.418671 87.798981 41.370712 C 88.395401 39.885254 88.718933 38.683945 88.818825 37.589554 C 88.934158 36.347443 88.735825 35.282608 88.229424 34.42453 C 87.462784 33.123352 86.125031 32.465012 84.251335 32.465012 C 81.266373 32.465012 77.244667 34.193832 73.860207 36.213821 C 73.033089 35.888885 72.163742 35.603317 71.260658 35.351517 C 71.536369 34.402008 71.691101 33.466583 71.698143 32.782928 C 71.710808 31.69696 71.620766 30.85437 71.415398 30.136963 C 71.180489 29.309845 70.786621 28.672607 70.245041 28.24498 C 69.769585 27.867981 69.211128 27.676697 68.593605 27.676697 C 66.129105 27.676697 63.00486 30.802338 60.903301 33.725403 C 60.761208 33.923752 60.616325 34.12912 60.474255 34.340134 C 56.956161 34.562378 53.231266 35.254456 49.312267 36.438873 C 26.141466 43.448364 15.891001 57.797882 14.153752 67.959732 C 13.124072 73.991547 14.824745 79.131561 18.822517 82.06308 C 21.371412 83.929733 25.387493 85.475677 30.438858 86.532104 L 30.438858 86.532104 C 35.691406 87.629303 42.195873 88.170868 48.994362 87.995041 C 46.732422 95.012955 44.498619 103.830017 43.941582 113.516403 C 43.941582 113.533279 43.938747 113.551559 43.938747 113.568436 C 43.892342 114.384323 43.858578 115.20723 43.836063 116.034363 C 43.834667 116.104691 43.573017 116.175018 43.573017 116.24678 C 43.553337 117.035904 43.291687 117.827866 43.291687 118.625443 C 43.291687 118.639526 43.291687 118.650772 43.291687 118.662018 C 43.291687 119.404755 43.575829 120.153091 43.60397 120.901459 C 43.611012 121.084335 43.747459 121.267197 43.755894 121.448669 C 43.785427 122.095734 43.886719 122.747025 43.93454 123.3983 C 43.945786 123.55304 43.989403 123.709198 44.002068 123.863907 C 44.049889 124.468796 44.123039 125.075073 44.186337 125.68277 C 44.21587 125.965515 44.256676 126.244034 44.290417 126.523972 C 44.342468 126.968445 44.402954 127.412964 44.464855 127.860291 C 44.519718 128.265411 44.5816 128.670532 44.64492 129.072845 C 44.716652 129.532837 44.791199 129.994202 44.872784 130.454208 C 44.936081 130.814316 45.007835 131.173035 45.076756 131.530319 C 45.137245 131.836975 45.200542 132.145035 45.26384 132.451691 C 45.344028 132.832886 45.422802 133.212708 45.508617 133.591095 C 45.560646 133.816162 45.61832 134.042633 45.673183 134.267715 C 45.853245 135.020264 46.047367 135.768646 46.254154 136.512756 C 46.320263 136.747681 46.383564 136.982605 46.452484 137.218933 C 46.573456 137.633881 46.698658 138.047455 46.828064 138.461029 C 46.898403 138.684692 46.971554 138.90834 47.044704 139.132004 C 47.091129 139.272675 47.134724 139.41333 47.181152 139.554001 C 45.356693 140.111053 43.336697 140.434601 41.159153 140.777817 C 39.838291 140.986008 38.470997 141.201233 37.06432 141.483978 C 34.09623 142.080414 30.979027 144.250916 31.755514 147.663513 C 32.162048 149.444366 33.599678 152.077667 35.840519 151.325089 C 36.369419 151.146454 36.798466 150.704742 37.06432 150.22226 C 37.594635 149.262894 38.320492 147.949066 45.08942 148.032043 C 47.023605 148.055969 49.007023 148.275421 50.966515 148.539856 C 51.024189 148.651001 51.079048 148.763535 51.138142 148.874664 C 49.77787 149.632843 48.313515 150.834167 47.733982 152.299927 C 47.16428 153.743164 47.321827 155.45932 48.217873 156.733765 C 48.90715 157.715637 49.946686 158.800171 51.181736 158.985855 C 52.461819 159.178574 53.540737 158.434448 53.806591 157.175461 C 53.919128 156.639526 54.052765 156.003693 54.967117 155.263794 C 55.296272 155.750504 55.638088 156.235809 55.985554 156.7211 C 56.053059 156.815353 56.116375 156.909607 56.185299 157.003845 C 57.573689 158.919739 59.104149 160.82016 60.779495 162.699493 C 60.803429 162.726227 60.827339 162.751526 60.85125 162.779663 C 61.390003 163.381729 61.944229 163.982391 62.51535 164.580215 C 62.522388 164.588654 62.529408 164.595688 62.536449 164.604126 C 64.840584 167.01799 67.3909 169.392456 70.23098 171.71489 C 71.111549 172.435104 71.99353 173.120163 72.872704 173.781296 C 77.417686 184.756195 86.895889 194.034637 93.692963 200.684006 C 98.627579 205.511734 102.525482 209.323822 102.086601 211.328339 C 101.961403 211.895233 101.470474 212.32428 100.584282 212.642181 C 90.731888 216.161697 86.445747 218.008667 85.407631 220.333908 C 85.075645 221.075226 85.085495 221.854523 85.438583 222.715408 C 85.449829 222.744934 85.466698 222.773071 85.487801 222.796997 C 87.59642 225.272736 91.847404 225.615967 94.950531 225.86496 L 95.523041 225.911377 C 96.659637 226.007019 97.921432 226.05484 99.274666 226.05484 C 103.74366 226.05484 110.028702 225.48938 114.260002 223.904053 C 114.489288 223.818237 114.707321 223.72821 114.919731 223.63678 C 114.932388 223.984238 114.997086 224.345734 115.137764 224.725555 C 115.14901 224.755081 115.164482 224.781799 115.184189 224.807129 C 117.214012 227.349014 121.452339 227.824463 124.545631 228.171906 L 125.11673 228.236618 C 126.249115 228.367447 127.509491 228.454651 128.861313 228.49826 C 133.328934 228.638916 139.628036 228.271774 143.907135 226.821503 C 147.942902 225.451401 149.498688 223.030502 149.109024 218.726074 C 148.789719 215.217804 149.061203 212.560608 149.809555 209.813354 C 163.136414 213.67749 177.857315 215.641205 193.689484 215.641205 C 219.810089 215.641205 239.391022 210.28038 241.028397 207.92276 C 241.954025 206.589233 242.215622 205.579239 241.8246 204.83371 C 241.458847 204.123352 240.520599 203.753387 239.050598 203.721024 Z M 119.207291 215.646851 C 118.478622 209.705048 119.526588 206.165833 121.661934 200.423782 C 122.49749 201.305756 123.310555 202.153992 124.085648 202.961426 C 128.86554 207.941055 132.641068 211.875549 132.13887 213.864594 C 131.998215 214.427261 131.49321 214.840836 130.597153 215.1306 C 125.243347 216.85379 121.52549 218.145111 119.048325 219.326721 C 119.329659 218.277344 119.38031 217.061966 119.207291 215.646851 Z"/>
              </svg>
            </div>
            <div class="hidden sm:-my-px sm:ml-6 sm:flex sm:space-x-8">
              <a href="/" class="inline-flex items-center border-b-2 border-lime-600 px-1 pt-1 text-sm font-medium text-gray-900 dark:text-gray-200" aria-current="page">Sprint Reports</a>
            </div>
          </div>
          <div class="hidden sm:ml-6 sm:flex sm:items-center">
          </div>
          <div class="-mr-2 flex items-center sm:hidden">
            <!-- Mobile menu button -->
            <button type="button" class="relative inline-flex items-center justify-center rounded-md bg-white p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-lime-600 focus:ring-offset-2 dark:bg-gray-800 dark:text-gray-200 dark:hover:bg-gray-700 dark:hover:text-gray-100 dark:focus:ring-gray-500" aria-controls="mobile-menu" aria-expanded="false">
              <span class="absolute -inset-0.5"></span>
              <span class="sr-only">Open main menu</span>
              <!-- Menu open: "hidden", Menu closed: "block" -->
              <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
              </svg>
              <!-- Menu open: "block", Menu closed: "hidden" -->
              <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
        </div>
      </div>

      <div class="sm:hidden hidden" id="mobile-menu">
        <div class="space-y-1 pb-3 pt-2">
          <a href="/" class="block border-l-4 border-lime-600 bg-lime-50 py-2 pl-3 pr-4 text-base font-medium text-lime-700 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-200" aria-current="page">Sprint Reports</a>
        </div>
      </div>
    </nav>

    <div class="py-10">
      <header>
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
          <% if @breadcrumbs.present? %>
            <div class="mb-4">
              <nav aria-label="Breadcrumb">
                <ol role="list" class="flex items-center space-x-4">
                  <% @breadcrumbs.each_with_index do |breadcrumb, index| %>
                    <li>
                      <div class="flex items-center">
                        <% if index != @breadcrumbs.length - 1 %>
                          <a href="<%= breadcrumb[:path] %>" class="text-sm font-medium text-gray-400 hover:text-gray-600 dark:text-gray-300 dark:hover:text-gray-100"><%= breadcrumb[:title] %></a>
                          <svg class="h-5 w-5 flex-shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                          </svg>
                        <% else %>
                          <span class="ml-0 text-sm font-medium text-gray-600 dark:text-gray-100"><%= breadcrumb[:title] %></span>
                        <% end %>
                      </div>
                    </li>
                  <% end %>
                </ol>
              </nav>
            </div>
          <% end %>

        </div>
      </header>
      <main class="max-w-screen-xl mx-auto px-2 sm:px-6">
        <div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow dark:divide-gray-800 dark:bg-gray-900 dark:text-gray-200">
          <div class="px-2 py-5 sm:px-6">
            <div class="min-w-0 flex-1">
              <% if content_for? :title %>
                <%= yield_content :title %>
              <% elsif @title %>
                <h1 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight dark:text-gray-200"><%= @title %></h1>
              <% end %>
              <% if content_for? :subtitle %>
                <div class="mt-1 flex flex-col sm:mt-0 sm:flex-row sm:flex-wrap sm:space-x-6">
                  <div class="mt-2 flex items-center text-sm text-gray-500 dark:text-gray-200">
                    <%= yield_content :subtitle %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <div class="px-2 py-5 sm:p-6">
            <%= yield %>
          </div>
          <% if content_for? :card_footer %>
             <div class="px-2 py-4 sm:px-6">
               <%= yield_content :card_footer %>
             </div>
           <% end %>
         </div>
       </main>
    </div>
  </div>
  <script>
    function toggleMenu() {
        var menu = document.getElementById('mobile-menu');
        menu.classList.toggle('hidden');
    }

    var button = document.querySelector('button[type="button"]');
    button.addEventListener('click', toggleMenu);
  </script>
  <script>
    // Add a title attribute to time elements for hover text
    document.querySelectorAll('time').forEach(timeElement => {
      if (!timeElement.getAttribute('datetime') || timeElement.getAttribute('title')) return

      date = new Date(timeElement.getAttribute('datetime'))
      timeElement.setAttribute('title', date.toLocaleString('en', {timeZoneName: 'short'}))
    })
  </script>
  <% if content_for? :scripts %>
    <%= yield_content :scripts %>
  <% end %>
</body>
</html>
