<div>
  <div class="sm:hidden">
    <select id="tabs" name="tabs" class="block w-full rounded-md border-gray-300 py-2 pl-3 pr-10 text-base focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm dark:bg-gray-800 dark:text-gray-200" onchange="location = this.value;">
      <option value="/projects/<%= @project.id %>" <%= 'selected' if params[:status].blank? %>>Active</option>
      <option value="/projects/<%= @project.id %>?status=completed" <%= 'selected' if params[:status] == 'completed' %>>Completed</option>
    </select>
  </div>
  <div class="hidden sm:block">
    <nav class="-mb-px flex space-x-8" aria-label="Tabs">
      <a href="/projects/<%= @project.id %>?status=" class="whitespace-nowrap <%= params[:status].blank? ? 'text-indigo-600 dark:text-indigo-200' : 'text-gray-500 hover:text-gray-700 dark:text-gray-300 dark:hover:text-gray-200' %> px-1 py-4 text-sm font-medium" <%= 'aria-current="page"' if params[:status].blank? %>>Active</a>
      <a href="/projects/<%= @project.id %>?status=completed" class="whitespace-nowrap <%= params[:status] == 'completed' ? 'text-indigo-600 dark:text-indigo-200' : 'text-gray-500 hover:text-gray-700 dark:text-gray-300 dark:hover:text-gray-200' %> px-1 py-4 text-sm font-medium" <%= 'aria-current="page"' if params[:status] == 'completed' %>>Completed</a>
    </nav>
  </div>
</div>

<% if @paginated_sprints.any? %>
  <ul role="list" class="divide-y divide-gray-100 dark:divide-gray-800">
    <% @paginated_sprints.each do |sprint| %>
      <li class="flex items-center justify-between gap-x-6 py-5">
        <div class="min-w-0">
          <div class="flex items-start gap-x-1">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 dark:text-gray-200">
              <path stroke-linecap="round" stroke-linejoin="round" d="m9 9 6-6m0 0 6 6m-6-6v12a6 6 0 0 1-12 0v-3" />
            </svg>

            <p class="text-sm font-semibold leading-6 text-gray-900 dark:text-gray-100"><a href="/sprints/<%= sprint.id %>" class="hover:underline"><%= sprint.title %></a></p>
            <% if sprint.planned? %>
              <p class="mt-0.5 whitespace-nowrap rounded-md bg-gray-50 ml-2 px-1.5 py-0.5 text-xs font-medium text-gray-700 ring-1 ring-inset ring-gray-600/20 dark:bg-gray-800 dark:text-gray-100 dark:ring-gray-700">Planned</p>
            <% elsif sprint.in_progress? %>
              <p class="mt-0.5 whitespace-nowrap rounded-md bg-blue-50 ml-2 px-1.5 py-0.5 text-xs font-medium text-blue-600 ring-1 ring-inset ring-blue-500/10 dark:bg-blue-900 dark:text-blue-100 dark:ring-blue-700">In progress</p>
            <% elsif sprint.completed? %>
              <p class="mt-0.5 whitespace-nowrap rounded-md bg-green-50 ml-2 px-1.5 py-0.5 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20 dark:bg-green-900 dark:text-green-100 dark:ring-green-700">Complete</p>
            <% end %>
          </div>
          <div class="mt-1 flex items-center gap-x-2 text-xs leading-5 text-gray-500 dark:text-gray-300">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 2.994v2.25m10.5-2.25v2.25m-14.252 13.5V7.491a2.25 2.25 0 0 1 2.25-2.25h13.5a2.25 2.25 0 0 1 2.25 2.25v11.251m-18 0a2.25 2.25 0 0 0 2.25 2.25h13.5a2.25 2.25 0 0 0 2.25-2.25m-18 0v-7.5a2.25 2.25 0 0 1 2.25-2.25h13.5a2.25 2.25 0 0 1 2.25 2.25v7.5m-6.75-6h2.25m-9 2.25h4.5m.002-2.25h.005v.006H12v-.006Zm-.001 4.5h.006v.006h-.006v-.005Zm-2.25.001h.005v.006H9.75v-.006Zm-2.25 0h.005v.005h-.006v-.005Zm6.75-2.247h.005v.005h-.005v-.005Zm0 2.247h.006v.006h-.006v-.006Zm2.25-2.248h.006V15H16.5v-.005Z" />
            </svg>

            <p class="whitespace-nowrap">
              <time datetime="<%= sprint.start_date.strftime('%Y-%m-%dT%H:%MZ') %>">
                <%= sprint.start_date.year == Date.today.year ? sprint.start_date.strftime("%b %-d") : sprint.start_date.strftime("%b %-d, %Y") %>
              </time>
              &ndash;
              <time datetime="<%= sprint.end_date.strftime('%Y-%m-%dT%H:%MZ') %>">
                <%= sprint.end_date.year == Date.today.year ? (sprint.start_date.month == sprint.end_date.month ? sprint.end_date.strftime("%-d") : sprint.end_date.strftime("%b %-d")) : sprint.end_date.strftime("%b %-d, %Y") %>
              </time>
            </p>
          </div>
        </div>
        <div class="flex flex-none items-center gap-x-4">
        </div>
      </li>
    <% end %>

    <% if @total_pages > 1 %>
      <% content_for :card_footer do %>
        <%= erb :_pagination, locals: { resource: @sprints } %>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <div class="mt-8 text-center">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="mx-auto h-12 w-12 text-gray-400 dark:text-gray-600">
      <path stroke-linecap="round" stroke-linejoin="round" d="m9 9 6-6m0 0 6 6m-6-6v12a6 6 0 0 1-12 0v-3" />
    </svg>
    <h3 class="mt-2 text-sm font-semibold text-gray-900 dark:text-gray-100">No sprints found</h3>
    <p class="mt-1 text-sm text-gray-500 dark:text-gray-400">Add a Sprint to one of your Issues.</p>
  </div>
<% end %>
