<% sprint = @sprint %>
<% content_for(:title) do %>
  <div class="flex justify-between items-center">
    <h1 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight dark:text-gray-100"><%= @title %></h1>
    <a href="<%= request.path + '/csv' %>" rel="noopener nofollow noreferrer" class="print:hidden inline-flex items-center justify-center h-9 px-3 text-xs font-medium text-gray-900 bg-white border border-gray-200 rounded-lg focus:outline-none hover:bg-gray-100 hover:text-lime-700 focus:z-10 focus:ring-2 focus:ring-gray-300 dark:focus:ring-gray-500 dark:bg-gray-950 dark:text-gray-100 dark:border-gray-950 dark:hover:text-gray-300 dark:hover:bg-black">
      Download CSV
    </a>
  </div>
<% end %>
<% content_for(:subtitle) do %>
  <div class="flex space-x-2">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 2.994v2.25m10.5-2.25v2.25m-14.252 13.5V7.491a2.25 2.25 0 0 1 2.25-2.25h13.5a2.25 2.25 0 0 1 2.25 2.25v11.251m-18 0a2.25 2.25 0 0 0 2.25 2.25h13.5a2.25 2.25 0 0 0 2.25-2.25m-18 0v-7.5a2.25 2.25 0 0 1 2.25-2.25h13.5a2.25 2.25 0 0 1 2.25 2.25v7.5m-6.75-6h2.25m-9 2.25h4.5m.002-2.25h.005v.006H12v-.006Zm-.001 4.5h.006v.006h-.006v-.005Zm-2.25.001h.005v.006H9.75v-.006Zm-2.25 0h.005v.005h-.006v-.005Zm6.75-2.247h.005v.005h-.005v-.005Zm0 2.247h.006v.006h-.006v-.006Zm2.25-2.248h.006V15H16.5v-.005Z" />
    </svg>

    <span class="ml-2">
      <% if sprint.end_date.year == Date.today.year && sprint.start_date.year == sprint.end_date.year %>
        <% if sprint.start_date.month == sprint.end_date.month %>
          <%= sprint.start_date.strftime("%B %-d") %> - <%= sprint.end_date.strftime("%-d") %>
        <% else %>
          <%= sprint.start_date.strftime("%b %-d") %> - <%= sprint.end_date.strftime("%b %-d") %>
        <% end %>
      <% else %>
        <%= sprint.start_date.strftime("%b %-d, %Y") %> - <%= sprint.end_date.strftime("%b %-d, %Y") %>
      <% end %>
      <% if sprint.in_progress? %>
        <span class="hidden sm:inline">(<%= (sprint.end_date - Date.today).to_i %> days left)</span>
      <% end %>
    </span>

    <% unless sprint.planned? %>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
        <path fill-rule="evenodd" d="M1 2.75A.75.75 0 0 1 1.75 2h16.5a.75.75 0 0 1 0 1.5H18v8.75A2.75 2.75 0 0 1 15.25 15h-1.072l.798 3.06a.75.75 0 0 1-1.452.38L13.41 18H6.59l-.114.44a.75.75 0 0 1-1.452-.38L5.823 15H4.75A2.75 2.75 0 0 1 2 12.25V3.5h-.25A.75.75 0 0 1 1 2.75ZM7.373 15l-.391 1.5h6.037l-.392-1.5H7.373Zm7.49-8.931a.75.75 0 0 1-.175 1.046 19.326 19.326 0 0 0-3.398 3.098.75.75 0 0 1-1.097.04L8.5 8.561l-2.22 2.22A.75.75 0 1 1 5.22 9.72l2.75-2.75a.75.75 0 0 1 1.06 0l1.664 1.663a20.786 20.786 0 0 1 3.122-2.74.75.75 0 0 1 1.046.176Z" clip-rule="evenodd" />
      </svg>
      <% if sprint.off_track_by > 5 %>
        <span class="ml-2x text-yellow-500">Off-track by <%= sprint.off_track_by %>%</span>
      <% elsif sprint.off_track_by < -5 %>
        <span class="ml-2x text-green-600">Ahead by <%= sprint.off_track_by.abs %>%</span>
      <% else %>
        <span class="ml-2x">On-track</span>
      <% end %>
    <% end %>
  </div>
<% end %>

<div class="w-full max-w-4xl mx-auto p-4 bg-white shadow rounded-lg dark:bg-black print:shadow-none">
  <div class="grid grid-cols-1 gap-6">
    <%= erb :_points_chart, locals: { sprint: sprint, issues: sprint.issues, closed_issues: sprint.issues.closed } %>
    <%= erb :_issues_chart, locals: { sprint: sprint } %>
  </div>

  <div class="grid grid-cols-2 gap-12 mt-6">
    <!-- Story Points Progress Bar -->
    <div class="mb-4 space-y-2">
      <h3 class="font-semibold mb-2 dark:text-gray-200">Story Points</h3>
      <div class="flex items-center">
        <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-900">
          <div class="bg-lime-600 h-2.5 rounded-full" style="width: <%= sprint.points == 0 ? 0 : ((sprint.points_completed.to_f / sprint.points) * 100).round %>%;"></div>
        </div>
        <span class="ml-2 text-gray-700 font-semibold"><%= sprint.points == 0 ? 0 : ((sprint.points_completed.to_f / sprint.points) * 100).round %>%</span>
      </div>
      <div class="flex justify-between text-gray-600 mt-2 dark:text-gray-200">
        <div>
          <p class="text-sm">Complete</p>
          <p class="text-lg font-semibold"><%= sprint.points_completed %></p>
        </div>
        <div>
          <p class="text-sm">Remain</p>
          <p class="text-lg font-semibold"><%= sprint.points_remaining %></p>
        </div>
        <div>
          <p class="text-sm">Total</p>
          <p class="text-lg font-semibold"><%= sprint.points %></p>
        </div>
      </div>
    </div>

    <!-- Issues and Pull Requests Progress Bar -->
    <div id="issuesPRsSection" class="mb-4 space-y-2">
      <h3 class="font-semibold mb-2 dark:text-gray-200 cursor-pointer">
        <span class="hidden sm:inline">Issues and Pull Requests</span>
        <span class="sm:hidden">Issues and PRs</span>
      </h3>
      <div class="flex items-center cursor-pointer">
        <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-900">
          <div class="bg-purple-600 h-2.5 rounded-full" style="width: <%= sprint.issues.count == 0 ? 0 : ((sprint.issues.closed.count.to_f / sprint.issues.count) * 100).round %>%;"></div>
        </div>
        <span class="ml-2 text-gray-700 font-semibold"><%= sprint.issues.count == 0 ? 0 : ((sprint.issues.closed.count.to_f / sprint.issues.count) * 100).round %>%</span>
      </div>
      <div class="flex justify-between text-gray-600 mt-2 dark:text-gray-200">
        <div>
          <p class="text-sm">Complete</p>
          <p class="text-lg font-semibold"><%= sprint.issues.closed.count %></p>
        </div>
        <div>
          <p class="text-sm">Remain</p>
          <p class="text-lg font-semibold"><%= sprint.issues.open.count %></p>
        </div>
        <div>
          <p class="text-sm">Total</p>
          <p class="text-lg font-semibold"><%= sprint.issues.count %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<script nonce="<%= csp_nonce %>">
  // Hover functionality for Issues and PRs chart
  const issuesPRsSection = document.getElementById('issuesPRsSection');
  const storyPointsSection = document.querySelector('.mb-4.space-y-2:not(#issuesPRsSection)');
  const sprintIssuesChartContainer = document.getElementById('sprintIssuesChartContainer');
  const sprintPointsChart = document.getElementById('sprintPointsChart').parentElement;

  issuesPRsSection.addEventListener('mouseenter', () => {
    sprintIssuesChartContainer.classList.remove('hidden');
    sprintPointsChart.classList.add('hidden');
  });

  storyPointsSection.addEventListener('mouseenter', () => {
    sprintIssuesChartContainer.classList.add('hidden');
    sprintPointsChart.classList.remove('hidden');
  });
</script>

<div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow mt-6 dark:bg-black dark:divide-gray-800 print:shadow-none">
  <div class="px-2 py-2 sm:px-3">
    <div class="border-gray-200 bg-white px-2 py-2 sm:px-3 dark:bg-black">
      <div class="flex items-center justify-between sm:flex-nowrap">
        <div class="flex items-center">
          <h3 class="font-bold text-base leading-6 m-0">
            <span class="hidden sm:inline">Remaining Issues or pull requests</span>
            <span class="sm:hidden">Remaining Issues or PRs</span>
          </h3>
        </div>
        <div class="font-bold flex-shrink-0 flex items-center m-0">
          Assignees / Points
        </div>
      </div>
    </div>
  </div>
  <div class="px-2 py-5 sm:p-6">
    <% if sprint.issues.open.any? %>
      <% sprint.issues.open.each do |issue| %>
        <%= erb :_issue, locals: { issue:, sprint: } %>
      <% end %>
    <% else %>
      <% if sprint.start_date.past? %><span class="print:hidden">🎉 </span><% end %>Sprint has no open issues assigned to it.
    <% end %>
  </div>
</div>

<div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow mt-6 dark:bg-black dark:divide-gray-800 print:shadow-none">
  <div class="px-2 py-2 sm:px-3">
    <div class="border-gray-200 bg-white px-2 py-2 sm:px-3 dark:bg-black">
      <div class="flex items-center justify-between sm:flex-nowrap">
        <div class="flex items-center">
          <h3 class="font-bold text-base leading-6 m-0">
            <span class="hidden sm:inline">Completed Issues or pull requests</span>
            <span class="sm:hidden">Completed Issues or PRs</span>
          </h3>
        </div>
        <div class="font-bold flex-shrink-0 flex items-center m-0">
          Assignees / Points
        </div>
      </div>
    </div>
  </div>
  <div class="px-2 py-5 sm:p-6">
    <% if sprint.issues.closed.any? %>
      <% sprint.issues.closed.each do |issue| %>
        <%= erb :_issue, locals: { issue:, sprint: } %>
      <% end %>
    <% else %>
      Sprint has no closed issues assigned to it.
    <% end %>
  </div>
</div>
<% content_for(:scripts) do %>
  <script nonce="<%= csp_nonce %>">
    // Tooltips
    document.querySelectorAll('[tooltip]').forEach(tooltip => {
      document.addEventListener('click', event => {
        // Don't hide tooltip if the click is within the tooltip or the trigger
        if (tooltip.classList.contains('hidden') || tooltip.contains(event.target) || trigger.contains(event.target)) return

        event.preventDefault()
        tooltip.classList.add('hidden')
      })
    })
  </script>
<% end %>
